.full-width-enquete-resultaten {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
	background-color: $light-grey;
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
}