.full-width-height {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

#header-preview {
	z-index: 0;
	position: absolute;
	left: 0;
	top: 0;
}

#header-kangu {
	z-index: 200;
	position: relative;
	font-family: "sofia-pro-soft", sans-serif;
	font-weight: bold;
	color: $text-white;
	font-size: rem-calc(80);
}