.full-width-height {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

#header-kangu {
	z-index: 200;
	position: relative;
	font-family: "sofia-pro-soft", sans-serif;
	font-weight: bold;
	color: $text-white;
	font-size: rem-calc(85);
}

#sub-header-kangu {
	font-family: "open-sans", sans-serif;
	font-weight: 600;
	color: $text-white;
	font-size: rem-calc(30);
}

#header-text-container {
	text-align: center;
	width: 60%;
}

@media screen and #{breakpoint(medium down)} {
	#header-kangu {
		font-size: rem-calc(75);
		margin-bottom: 30px;
	}
	#sub-header-kangu {
		font-size: rem-calc(25);
		line-height: 37.5px;
	}
	#header-text-container {
		width: 90%;
	}
}