.header-white {
	font-family: "sofia-pro-soft", sans-serif;
	font-weight: regular;
	color: $text-white;
	font-size: rem-calc(36);
	line-height: rem-calc(43);
	text-align: center;
}

.header-dark-grey {
	font-family: "sofia-pro-soft", sans-serif;
	font-weight: regular;
	color: $text-dark-grey;
	font-size: rem-calc(36);
	line-height: rem-calc(43);
	text-align: center;
}