.subline-white {
	font-family: "open-sans", sans-serif;
	color: $text-white;
	text-align: center;
	margin-bottom: 60px;
}

.subline-dark-grey {
	font-family: "open-sans", sans-serif;
	color: $text-dark-grey;
	text-align: center;
	margin-bottom: 60px;
}

@media screen and #{breakpoint(medium down)} {
	.subline-white, .subline-dark-grey {
		font-size: rem-calc(18);
		line-height: rem-calc(27);
	}
}

@media screen and #{breakpoint(large)} {
	.subline-white, .subline-dark-grey {
		font-size: rem-calc(21);
		line-height: rem-calc(31.5);
	}
}